<div id="container" ng-controller="CountingCtrl" ng-init="generateExercises()">
    <div id="contentWithFooter" ng-class="footerClass()">
        <data-image-grid id="exercise" class="counting" data-image="'images/graphicelements/ijsje.png'" data-value="currentExercise.solution" />
    </div>
    <div id="footer" ng-class="footerClass()">
        <div id="answers" class="centeredInParent">
            <button class="answer number" 
                ng-repeat="option in currentExercise.options"
                ng-click="submitAnswer(option)"
                ng-disabled="currentExercise.score >= 0"
            >
                {{option}}
            </button>
        </div>
    </div>
</div>
