<div id="container" class="lezenContainer" ng-init="generateExercises()">
    <div id="contentWithFooter">
        <div class="centeredInParentContainer">
            <div class="centeredInParent">
                <div class="opgave">
                    {{currentExercise.question}}
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="antwoorden" class="centeredInParent">
            <button class="antwoord" ng-click="submitAnswer(true)"
                    ng-class="{juist : currentExercise.solution === true && (currentExercise.score > 0 || currentExercise.showSolution), fout : currentExercise.solution === false && currentExercise.score === 0}">
                Juist
            </button>
            <button class="antwoord" ng-click="submitAnswer(false)"
                    ng-class="{juist : currentExercise.solution === false && (currentExercise.score > 0 || currentExercise.showSolution), fout : currentExercise.solution === true && currentExercise.score === 0}">
                Fout
            </button>
        </div>
    </div>
</div>
