@font-face {
    font-family: Chalk;
    src: url("../fonts/appleberry_with_cyrillic.ttf");
}

.readingContainer {
    background-image: url("../images/blackboardSmooth.jpg");
    background-repeat: repeat;
    flex: 1;
    -webkit-flex: 1;
}

.writingContainer {
    background-image: url("../images/blackboardSmooth.jpg");
    background-repeat: repeat;
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */    
    flex: 1;
    -webkit-flex: 1;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    -webkit-box-justify-content: space-around;
}

.mathContainer {
    background-image: url("../images/blackboardSmooth.jpg");
    background-repeat: repeat;
    flex: 1;
    -webkit-flex: 1;
}

.mathMenu {
    background-image: url("../images/blackboardSmooth.jpg");
    background-repeat: repeat;
}

#equation {
    margin: 0 auto;
    display: inline-block;
}

.slideInOut {
    -webkit-transition:all linear 0.5s;
}

.slideInOut.ng-hide {
}

.slideInOut.ng-show {
}

.equationElement {
    font-family: Chalk, Verdana, Geneva, sans-serif;
    font-size: 8em;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    min-height: 50px;
    min-width: 50px;
    color: white;
}

.equationElement .graphical {
    width: 160px;
    height: 160px;
} 
.apple1 {
    background-image: url('../images/graphicnumbers/apples-1.png');
} 
.apple2 {
    background-image: url('../images/graphicnumbers/apples-2.png');
} 
.apple3 {
    background-image: url('../images/graphicnumbers/apples-3.png');
} 
.apple4 {
    background-image: url('../images/graphicnumbers/apples-4.png');
} 
.apple5 {
    background-image: url('../images/graphicnumbers/apples-5.png');
}

.ijsjes1 {
    background-image: url('../images/graphicnumbers/ijsjes-1.png');
} 
.ijsjes2 {
    background-image: url('../images/graphicnumbers/ijsjes-2.png');
} 
.ijsjes3 {
    background-image: url('../images/graphicnumbers/ijsjes-3.png');
} 
.ijsjes4 {
    background-image: url('../images/graphicnumbers/ijsjes-4.png');
} 
.ijsjes5 {
    background-image: url('../images/graphicnumbers/ijsjes-5.png');
} 
    
.equationElement div {
    padding: 0px; 
}

.equationElement .right {
    /*border: 3px solid yellowgreen;*/ 
    /*border-radius: 50%;*/
    color: yellowgreen;
}

.equationElement .wrong {
    color: red;
/*    background-image: url("../images/red-cross.png");
    background-size: contain;
    background-repeat: no-repeat;*/
}

.equationElement .graphical.right {
    position: relative;
}

.equationElement .graphical.wrong {
    position: relative;
    border: 3px solid red; 
    border-radius: 50%;
}

.graphical.right:before {
    position: absolute;
    border: 3px solid yellowgreen; 
    border-radius: 50%;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.graphical.wrong:before, .graphical.wrong:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.graphical.wrong:after {
    -webkit-transform: rotate(45deg);  
    transform: rotate(45deg);
}

.unknown {
}

#buttons {
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.header, .footer {
}

.answer {
    display: inline-block;
    border: none;
    text-align: center;
    vertical-align: middle;
    padding: 4px 28px;
    margin: 7px;
    background-color: rgba(225,225,225,0.4);
    color: white;
    font-family: Chalk, verdana;
    font-size: 8em;
}   

.answer.letter {
    height: 120px;
    width: 100px;
    font-size: 5.5em;
    padding: 0px;
    margin: 0px;
}   

.answer.number {
    width: 150px;
}

.answer.graphical {
    width: auto;
    padding: 10px;
}

.answer .graphical {
    width: 160px;
    height: 160px;
} 

.answer.right {
    color: yellowgreen;
}

.answer.wrong {
    color: red;
}

.rows-2 .answer {
    width: 160px;
    font-size: 5.5em;
 }

.letterplaces {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */    
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.letterplace {
    height: 130px;
    width: 110px;
    padding: 5px;
    border: 1px dashed white;
    margin-left: 5px;
    margin-right: 5px;
}

.writingContainer .word {
    margin-bottom: 20px;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */    
    justify-content: center;
    -webkit-justify-content: center;
}

.resultPopup {
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
}

.star1, .star2, .star3 {
    width: 10vw;
}

.readingContainer .exercise {
    font-family: Chalk, Verdana, Geneva, sans-serif;
    font-size: 8em;
    color: white;
}

#exercise.counting {
    width: 568px;
    height: 568px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.writingContainer .buttons {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */    
    
    justify-content: center;
    -webkit-justify-content: center;
}

.button-ok {
    background-color: lightgreen;
    border: 2px solid green;
    font-family: fantasy;
    font-size: 3em;
    padding: 8px 20px 8px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
