<div>
    <div class="titelPanel">
        <div class="menuTitle">Nieuwe gebruiker</div>
    </div>
    <div class="testsPanel">
        <form>
          <div class="form-group">
            <label for="username">Naam</label>
            <input type="text" class="form-control" id="username" placeholder="Jouw naam"
                   ng-model="username">
          </div>
          <button type="submit" class="btn btn-default" ng-click="addUser()">Toevoegen</button>
        </form>
    </div>
</div>
