<div class="menu oefeningenMenu {{categorie.id}}">
    <div class="titelBalk">
        <div class="menuTitle">
            {{categorie.titel}}
        </div>
    </div>
    <div class="oefeningenBalk">
        <slider-selector items="items" 
                        on-selected="itemSelected" 
                        image-width="500"
                        spacing="50"
                        selected-item-index="selectedItemIndex">
            <div class="oefeningenMenuItem" style="margin-right: {{spacing}}px">
                <div class="titel">
                    {{item.titel}}
                </div>
                <div class="subtitel">
                    {{item.subtitel}}
                </div>
                <div class="niveau">
                    {{item.niveau}}
                </div>
            </div>
        </slider-selector>
    </div>
    <div class="knoppenBalk">
        <div class="links">
            <i class="fa fa-5x fa-arrow-left button" ng-click="terugNaarCategorieMenu()"></i>
        </div>
        <div class="centraal">
            <button type="button" class="centeredInParent button" ng-click="select()">Start</button>
        </div>
        <div class="rechts">
        </div>
    </div>
</div>