html, body {
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

#container {
    height: 100%;
}

#content {
    top: 0px;
    bottom: 0px;
}

#contentWithHeaderAndFooter {
    top: 200px;
    bottom: 200px;
}

#contentWithHeader {
    top: 200px;
    bottom: 0px;
}

#contentWithFooter {
    top: 0px;
    bottom: 200px;
}
#contentWithFooter.rows-2 {
    bottom: 300px;
}

#header {
    top: 0px;
    height: 200px;
}

#footer {
    bottom: 0px;
    height: 200px;
    display: table;
}

#footer.rows-2 {
    height: 300px;
}

#content, 
#contentWithHeader, 
#contentWithFooter, 
#contentWithHeaderAndFooter, 
#header, 
#footer {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
}

.centeredInParent {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}

.centeredInParentContainer {
    height: 100%;
    width: 100%;
    display: table;
}
