html, body {
    height: 100%;
    width: 100%;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */    
    padding: 0;
}

#container {
}

#content {
    top: 0px;
    bottom: 0px;
}

#contentWithHeaderAndFooter {
    top: 200px;
    bottom: 200px;
}

#contentWithHeader {
    top: 200px;
    bottom: 0px;
}

#contentWithFooter {
    top: 0px;
    bottom: 200px;
}
#contentWithFooter.rows-2 {
    bottom: 300px;
}

#header {
    top: 0px;
    height: 200px;
}

#footer {
    bottom: 0px;
    height: 200px;
    display: table;
}

#footer.rows-2 {
    height: 300px;
}

#content, 
#contentWithHeader, 
#contentWithFooter, 
#contentWithHeaderAndFooter, 
#header, 
#footer {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
}

.centeredInParent {
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}

.centeredInParentContainer {
    height: 100%;
    width: 100%;
    display: table;
}
/* ************************
          MENU
*************************** */

.menu {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */    
    flex-direction: column;
    flex: 1;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
}

.categorieMenu {
    background-image: url("../images/mainMenuBackground.png");
}

.categorieMenuItem {
    border-radius: 25px;
    
    box-shadow: 0px 0px 30px 11px rgba(0,0,0,0.4);
    margin-bottom: 30px;
    margin-top: 30px;
}

.oefeningenMenu.rekenen {
    background-image: url("../images/rekenenBackground-blurred.png");
}

.oefeningenMenu.lezen {
    background-image: url("../images/lezenBackground-blurred.png");
}

.oefeningenMenu.schrijven {
    background-image: url("../images/schrijvenBackground-blurred.png");
}

.menu > .titelBalk {
    -webkit-box-flex: 1 1 auto;
    flex: 1 1 auto;
    font-family: Chalk;
    color: blue;
    font-size: 8em;
    text-align: center;
    border: 4px solid blue;
    border-radius: 30pt;
    background-color: rgba(255,255,255,0.8);
    margin: 10px 10px 10px 10px;
}

.menu > .oefeningenBalk {
    -webkit-box-flex: 1 1 auto;
    flex: 1 1 auto;
}

.menu > .knoppenBalk {
    flex: 1 1 auto;
    -webkit-box-flex: 1 1 auto;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */    
    flex-direction: row;
    -webkit-box-orient: horizontal;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-box-align: center;
    padding: 10px 20px 10px;
}

.menu > .knoppenBalk > .links {
    width: 200px;
}

.menu > .knoppenBalk > .centraal {
    flex: auto;
     -webkit-box-flex: auto;
    text-align: center;
}

.menu > .knoppenBalk > .rechts {
    width: 200px;
}

.menu > .knoppenBalk > button {
/*    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;*/
}

.menuItem {
    font-family: Chalk;
    color: white;
    font-size: 8em;
    text-align: center;
}

.menuItemTitle {
    font-family: Chalk;
    font-size: 3em;
    position: absolute;
    top: 50px;
    left: 134px;
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    border: 4px solid red;
    border-radius: 20pt;
    text-align: center;
    width: 300px;
}

.oefeningenMenuItem {
    width: 500px;
    height: 400px;
    background-color: white;
    font-family: "Gill Sans","Gill Sans MT",Calibri,sans-serif;
    text-align: center;
    white-space: normal;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */    
    flex-direction: column;
    -webkit-box-orient: vertical;
}

.oefeningenMenuItem .titel {
    background-color: lightblue;
    font-size: 5em;
    flex-grow: 1;
}

.oefeningenMenuItem .subtitel {
    font-size: 5.5em;
    flex-grow: 1;
    -webkit-box-flex: 1;
}

.oefeningenMenuItem .niveau {
    background-color: lightgrey;
    font-size: 5.5em;
    flex-grow: 1;
    -webkit-box-flex: 1;
}

.button {
    background-color: rgba(255,255,255,0.8);
    border: 4px solid red;
    border-radius: 20pt;
    text-align: center;
    padding: 20px;
    font-family: Chalk;
    font-size: 3em;
}

.lined-paper {
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}