@font-face {
    font-family: Chalk;
    src: url("../fonts/appleberry_with_cyrillic.ttf");
}

body {
    background-image: url("../images/blackboardSmooth.jpg");
    background-repeat: repeat;
}

#vergelijking {
    margin: 0 auto;
    display: inline-block;
}

.oefeningInOverview {
    border: 1px solid black;
    background-color: #DDDDDD;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.oefeningInOverview.actieveOefening {
    background-color: white;
}

.oefeningInOverview.oefeningCorrect {
    background-color: green;
}

.oefeningInOverview.oefeningFout {
    background-color: red;
}

.slideInOut {
    -webkit-transition:all linear 0.5s;
}

.slideInOut.ng-hide {
}

.slideInOut.ng-show {
}


.keuzeDragBox {
    padding: 10px 5px;
    display: inline-block;
}

.keuze {
    font-family: Verdana, Geneva, sans-serif;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 14px;
    margin: 5px 10px 20px 10px;
    text-align: center;
    background-color: #FFFFFF;
}

.vergelijkingElement {
    font-family: Chalk, Verdana, Geneva, sans-serif;
    font-size: 30vh;
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    min-height: 50px;
    min-width: 50px;
    color: white;
}

.vergelijkingElement .grafisch {
    width: 160px;
    height: 160px;
} 
.apple1 {
    background-image: url('../images/graphicnumbers/apples-1.png');
} 
.apple2 {
    background-image: url('../images/graphicnumbers/apples-2.png');
} 
.apple3 {
    background-image: url('../images/graphicnumbers/apples-3.png');
} 
.apple4 {
    background-image: url('../images/graphicnumbers/apples-4.png');
} 
.apple5 {
    background-image: url('../images/graphicnumbers/apples-5.png');
}

.ijsjes1 {
    background-image: url('../images/graphicnumbers/ijsjes-1.png');
} 
.ijsjes2 {
    background-image: url('../images/graphicnumbers/ijsjes-2.png');
} 
.ijsjes3 {
    background-image: url('../images/graphicnumbers/ijsjes-3.png');
} 
.ijsjes4 {
    background-image: url('../images/graphicnumbers/ijsjes-4.png');
} 
.ijsjes5 {
    background-image: url('../images/graphicnumbers/ijsjes-5.png');
} 

img.vergelijkingElementTeken {
    width: 12vw;
}
    
.vergelijkingElement div {
    padding: 0px; 
}

.vergelijkingElement .juist {
    /*border: 3px solid yellowgreen;*/ 
    /*border-radius: 50%;*/
    color: yellowgreen;
}

.vergelijkingElement .fout {
    color: red;
/*    background-image: url("../images/red-cross.png");
    background-size: contain;
    background-repeat: no-repeat;*/
}

.vergelijkingElement .grafisch.juist {
    position: relative;
}

.vergelijkingElement .grafisch.fout {
    position: relative;
    border: 3px solid red; 
    border-radius: 50%;
}

.grafisch.juist:before {
    position: absolute;
    border: 3px solid yellowgreen; 
    border-radius: 50%;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.grafisch.fout:before, .grafisch.fout:after {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.grafisch.fout:after {
    -webkit-transform: rotate(45deg);  
    transform: rotate(45deg);
}

.unknown {
}

#buttons {
    text-align: center;
    margin: 10px;
    display: inline-block;
}

#nieuwButton {
    border: 1px solid black;
    padding: 10px;
    background-color: #ffffc0;
    cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.header, .footer {
}

.antwoord {
    display: inline-block;
    border: none;
    text-align: center;
    vertical-align: middle;
    padding: 4px 28px;
    margin: 7px;
    background-color: rgba(225,225,225,0.4);
    color: white;
    font-family: Chalk, verdana;
    font-size: 12vw;
    width: 150px;
}

.antwoord.grafisch {
    width: auto;
    padding: 10px;
}

.antwoord .grafisch {
    width: 160px;
    height: 160px;
} 

.rows-2 .antwoord {
    width: 160px;
    font-size: 8.5vw;
 }

.resultaatPopup {
    background: repeating-linear-gradient(
      45deg,
      #606dbc,
      #606dbc 10px,
      #465298 10px,
      #465298 20px
    );
}

.ster1, .ster2, .ster3 {
    width: 15vw;
}

.menu {
    
}

.menuTitle {
    font-family: Chalk;
    text-decoration: underline; 
    color: white;
    font-size: 17vh;
    text-align: center;
}

.menuItem {
    font-family: Chalk;
    color: white;
    font-size: 15vh;
    text-align: center;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
